# architecture
BR2_arm=y
BR2_cortex_a9=y

# toolchain
BR2_DEPRECATED=y
BR2_KERNEL_HEADERS_3_0=y
BR2_DEFAULT_KERNEL_HEADERS="3.0.101"
BR2_GCC_VERSION_4_7_X=y

# system
BR2_TARGET_GENERIC_GETTY_PORT="ttymxc1"

# kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://github.com/viaembedded/vab820-kernel-bsp.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="via_3.0.35"
BR2_LINUX_KERNEL_DEFCONFIG="imx6"
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x10008000"
BR2_LINUX_KERNEL_UBOOT_IMAGE=y
BR2_LINUX_KERNEL_UIMAGE=y

# bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="mx6q_sabrelite"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="git://github.com/viaembedded/vab820-uboot-bsp.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="via_3.0.35"
BR2_TARGET_UBOOT_CUSTOM_PATCH_DIR="board/via/imx6_vab820"
BR2_TARGET_UBOOT_FORMAT_BIN=y

# rootfs
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_GZIP=y

# post-build	
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/via/imx6_vab820/post-build.sh"
