BR2_arm=y
BR2_arm1176jzf_s=y

# Debug UART
BR2_TARGET_GENERIC_GETTY_PORT="ttyWMT0"

BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.13"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_13=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://github.com/linux-wmt/linux-vtwm.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="testing"
BR2_LINUX_KERNEL_DEFCONFIG="vt8500_v6_v7"
BR2_LINUX_KERNEL_APPENDED_UIMAGE=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="wm8750-apc8750"
# In u-boot have to load from 0x01000000
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x00400000"
